html, body {
	margin: 0px;
	font-family: 'Karla', sans-serif;
	overflow-x: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#header {
	background: #17af95;
}

h2 {
	margin-left: 24px;
	margin-right: 24px;
}